extends ../layout

block content

        
  .container
    .row
      .col-md-6.col-md-push-6
        .panel.panel-info.client-controls
          .panel-heading
          
          .panel-body
            p
              strong Status
            #call-status.well.well-sm
              | Connecting to Twilio...
            button.btn.btn-lg.btn-primary.call-support-button(onclick="callSupport()")
              span.glyphicon.glyphicon-earphone(aria-hidden="true")
              |  Call support
            button.btn.btn-lg.btn-danger.hangup-button(disabled="", onclick="hangUp()") Hang up
      
      .col-md-6.col-md-pull-6
        form(class="new-contact")
          .form-group
            label Name
            input.form-control(type='text', name="name", placeholder='Andry Zhukov')
          .form-group
            label Phone Number:
            input.form-control(type='text', name="phone_number", placeholder='+16887665773')
          .form-group
            label Description:
            textarea(rows=3, name="description", placeholder='Add some description').form-control
          button.btn.btn-primary.btn-lg.btn-block(type='button') Submit contact
